@page "/orders"
@using NorthWind.BlazingPizza.Entities.Enums
@using NorthWind.BlazingPizza.Entities.Extensions

<TopBar />
<div class="main">
    @if (ViewModel.Orders == null)
    {
        <text>@Messages.LoadingText</text>
    }
    else if (!ViewModel.Orders.Any())
    {
        <h2>@Messages.EmptyOrderText</h2>
        <a class="btn btn-success" href="">
            @Messages.OrderAnyPizzaText
        </a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var Item in ViewModel.Orders)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@Item.CreateTime.ToLongDateString()</h5>
                        @Messages.PizzasText
                        <strong>@Item.PizzaCount</strong>
                        @Messages.TotalPriceText
                        <strong>@Item.GetFormatteTotalPrice()</strong>
                    </div>
                    <div class="col">
                        @Messages.StatusText
                        <strong>
                            @Item.Status.ToFriendlyString()
                        </strong>
                    </div>
                    @if (Item.Status != OrderStatus.Delivered)
                    {
                        <div class="col text-right">
                            <a href="orderdetails/@Item.Id" 
                            class="btn btn-success">
                                @Messages.TrackText
                            </a>
                        </div>
                    }

                </div>
            }
        </div>
    }

</div>

